<%include common/head.ejs%>
<%include common/header.ejs%>


<div class="life-body">
    <div class="detailpage">
        <div class="detail-left">
            <!--活动基本信息-->
            <div class="detail-left-content">
                <%if(data.recommended != false){%>
                <div class="detail-left-content-isrecommand">
                    <img src="/images/recommand.png" alt=""/>
                </div>
                <%}%>
                <div class="detail-left-content-title">
                    <h2><%=data.name%></h2>
                </div>
                <div class="detail-left-content-property">时间：<span><%=data.startTime%> ~ <%=data.endTime%></span></div>
                <div class="detail-left-content-property">地点：<span><%=data.location%></span></div>
                <div class="detail-left-content-property">费用：<span><%=data.fee%></span></div>
                <div class="detail-left-content-property">状态：<span><%=data.activityStatus%></span></div>
                <div class="detail-left-content-property">发起人：<span><%=data.userName%></span></div>
                <div class="detail-left-content-data">
                    <div class="detail-left-content-data-item"><span><%=data.clicks%></span>人看过</div>
                    <!--如果该活动需要报名，则显示报名人数-->
                    <div class="detail-left-content-data-item" ng-if="act.needSignUp"><span><%=data.memberCount%></span>人参加</div>
                    <div class="clear-fix"></div>
                </div>
                <div class="detail-left-content-joinbtn">
                    <button type="button" class="btn btn-default" ng-click="attentionClick()" ng-show="act.isAttention == false">收藏</button>
                    <button type="button" class="btn btn-default" ng-click="attentionClick()" ng-show="act.isAttention == true">已收藏</button>
                    <!--<button type="button" class="btn btn-default" disabled>分享</button>-->
                    <!--如果该活动需要报名，则显示立即报名按钮-->
                    <button type="button" class="btn btn-default" ng-if="act.needSignUp">立即报名</button>
                </div>
                <!--分割线-->
                <div class="line" style="width: 100%"></div>

                <!--活动详细信息-->
                <%data.activityContents.forEach(function(content){%>
                <div class="detail-left-content-detailinfo">
                    <div class="detail-left-content-detailinfo-subtitle"><%=content.title%></div>

                    <%if(content.contentType == 1){%>
                    <p><%=content.content%></p>
                    <%}%>

                    <%if(content.contentType == 0){%>
                    <img src="/<%=content.content%>"/>
                    <%}%>
                </div>
                <%})%>
            </div>
            <!--活动报名面板  如果该活动需要报名，则显示报名人数-->
            <div class="activity-left-joinpanel" ng-if="act.needSignUp">
                <div class="activity-detail-entry-title">预约报名</div>
                <form name="enterNameForm">
                    <div class="activity-detail-entry-input">
                        <input type="text" class="form-control" name="enterName" placeholder="姓名" ng-model="enterName.name" required>
                    </div>
                    <div class="activity-detail-entry-input">
                        <input type="text" class="form-control" name="enterPhone" placeholder="联系方式" ng-model="enterName.phone" required ng-pattern="/^1\d{10}$/">
                    </div>
                    <div class="activity-detail-entry-input">
                        <input type="text" class="form-control" name="enterAmount" placeholder="参加人数" ng-pattern="/^[0-9]*[1-9][0-9]*$/" ng-model="enterName.amount" required>
                    </div>
                    <div class="activity-detail-entry-input" ng-show="!enterNameForm.$valid">
                        <span ng-show="enterNameForm.enterPhone.$error.pattern">联系方式不符合规则，请填写手机号码</span>
                        <span ng-show="!enterNameForm.enterAmount.$error.required && !enterNameForm.enterAmount.$valid">参加人数不符合规则</span>
                    </div>
                    <div class="activity-detail-entry-input">
                        <button type="button" class="btn btn-primary btn-block" ng-click="enterNameClick()" ng-disabled="!enterNameForm.$valid">立即报名</button>
                    </div>
                </form>
            </div>
        </div>
        <!--右侧面板-->
        <div class="detail-right">
            <div class="detail-right-content">
                <div class="detail-right-content-container">
                    <h4>活动海报</h4>
                    <img src="/<%=data.cover%>">
                </div>
                <div class="detail-right-content-container">
                    <h4>活动标签</h4>
                    <div class="right-tags">
                        <div class="life-tag-panel">
                            <%data.activityTags.forEach(function(tag){%>
                            <div class="life-tag-each" ng-repeat="tag in act.activityTags">
                                <button type="button" class="btn btn-default btn-xs" ng-click="lifeService.tagSearch(tag)">
                                    <%=tag.tagName%>
                                </button>
                            </div>
                            <%})%>
                            <div class="clear-fix"></div>
                        </div>
                    </div>
                </div>
                <!--<div class="detail-right-content-container">-->
                <!--<h4>参加人员</h4>-->
                <!--<div class="right-joins"></div>-->
                <!--</div>-->
                <!--<div class="detail-right-content-container">-->
                <!--<h4>其他活动</h4>-->
                <!--<div class="activity-detail-right-other">-->
                <!--<img src="images/2.png" alt=""/>-->
                <!--<div class="activity-detail-right-other-title">国际中港城亲子活动深度洪培课程</div>-->
                <!--</div>-->
                <!--</div>-->
            </div>

        </div>
        <div class="clear-fix"></div>
    </div>
</div>

<%include common/footer.ejs%>
<%include common/end.ejs%>