<%include common/head.ejs%>
<%include common/header.ejs%>

<input type="hidden" value="<%=data.activityId%>" id="activityId">

<div class="life-body">
    <div class="detailpage">
        <div class="detail-left">
            <!--活动基本信息-->
            <div class="detail-left-content">
                <%if(data.recommended != false){%>
                <div class="detail-left-content-isrecommand">
                    <img src="/images/recommand.png" alt=""/>
                </div>
                <%}%>
                <div class="detail-left-content-title">
                    <h2><%=data.name%></h2>
                </div>
                <div class="detail-left-content-property">时间：<span><%=new Date(data.startTime).Format('YYYY-MM-dd hh:mm')%> ~ <%=new Date(data.endTime).Format('YYYY-MM-dd hh:mm')%></span></div>
                <div class="detail-left-content-property">地点：<span><%=data.location%></span></div>
                <div class="detail-left-content-property">费用：<span><%=data.fee%></span></div>
                <div class="detail-left-content-property">
                    状态：
                    <%if(data.activityStatus == 1){%>
                    报名中
                    <%}%>
                    <%if(data.activityStatus == 2){%>
                    即将开始
                    <%}%>
                    <%if(data.activityStatus == 3){%>
                    进行中
                    <%}%>
                    <%if(data.activityStatus == 4){%>
                    已结束
                    <%}%>
                </div>
                <div class="detail-left-content-property">发起人：<span><%=data.userName%></span></div>
                <div class="detail-left-content-data">
                    <div class="detail-left-content-data-item"><span><%=data.clicks%></span>人看过</div>
                    <!--如果该活动需要报名，则显示报名人数-->
                    <div class="detail-left-content-data-item" ng-if="act.needSignUp"><span><%=data.memberCount%></span>人参加</div>
                    <div class="clear-fix"></div>
                </div>
                <div class="detail-left-content-joinbtn">
                    <%if(data.isAttention == true){%>
                    <button type="button" class="btn btn-default attention" onclick="doAttention()">已收藏</button>
                    <%}%>
                    <%if(data.isAttention == false){%>
                    <button type="button" class="btn btn-default attention" onclick="doAttention()">收藏</button>
                    <%}%>
                    <!--<button type="button" class="btn btn-default" disabled>分享</button>-->
                    <!--如果该活动需要报名，则显示立即报名按钮-->
                    <a href="#a-sign"><button type="button" class="btn btn-default" ng-if="act.needSignUp">立即报名</button></a>
                </div>
                <!--分割线-->
                <div class="line" style="width: 100%"></div>

                <!--活动详细信息-->
                <%data.activityContents.forEach(function(content){%>
                <div class="detail-left-content-detailinfo">
                    <div class="detail-left-content-detailinfo-subtitle"><%=content.title%></div>

                    <%if(content.contentType == 1){%>
                    <p><%=content.content%></p>
                    <%}%>

                    <%if(content.contentType == 0){%>
                    <img src="/<%=content.content%>"/>
                    <%}%>
                </div>
                <%})%>
            </div>
            <!--活动报名面板  如果该活动需要报名，则显示报名人数-->
            <a name="a-sign" id="a-sign"></a>
            <div class="activity-left-joinpanel" ng-if="act.needSignUp">
                <div class="activity-detail-entry-title">预约报名</div>
                <form class="form-horizontal" name="enterNameForm" id="enterNameForm">
                    <div class="form-group">
                        <label for="name" class="col-xs-2 control-label">姓名</label>
                        <div class="col-xs-10">
                            <input type="email" class="form-control" name="name" id="name" placeholder="姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-xs-2 control-label">联系方式</label>
                        <div class="col-xs-10">
                            <input type="tel" class="form-control" name="phone" id="phone" placeholder="联系方式">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="amount" class="col-xs-2 control-label">参加人数</label>
                        <div class="col-xs-10">
                            <input type="number" class="form-control" name="amount" id="amount" placeholder="参加人数">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12" style="text-align: center">
                            <span class="error-info"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-primary btn-block" onclick="enterNameClick()" ng-disabled="!enterNameForm.$valid">立即报名</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--右侧面板-->
        <div class="detail-right">
            <div class="detail-right-content">
                <div class="detail-right-content-container">
                    <h4>活动海报</h4>
                    <img src="<%=data.cover%>">
                </div>
                <div class="detail-right-content-container">
                    <h4>活动标签</h4>
                    <div class="right-tags">
                        <div class="life-tag-panel">
                            <%data.activityTags.forEach(function(tag){%>
                            <div class="life-tag-each" ng-repeat="tag in act.activityTags">
                                <button type="button" class="btn btn-default btn-xs" ng-click="lifeService.tagSearch(tag)">
                                    <%=tag.tagName%>
                                </button>
                            </div>
                            <%})%>
                            <div class="clear-fix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear-fix"></div>
    </div>
</div>

<!-- 我把upload.com指向了127.0.0.1 -->
<!--<form method="post" target="if" enctype="multipart/form-data" action="http://127.0.0.1:8080/life/common/upload.json">-->
    <!--<input type="file" name="file" />-->
    <!--<input type="SUBMIT" value="upload" />-->
<!--</form>-->
<!--<button onclick="getIframeVal()">-->
    <!--ssss-->
<!--</button>-->

<!--<iframe id="if" name="if" src="about:blank" frameborder='0'></iframe>-->

<script>

    // 这个函数将来会被iframe用到
//    function getIframeVal(val)
//    {
//        var html = $('iframe#if');
//        console.log(html);
//    }

    var activityId = parseInt($("input#activityId").val());
    function doAttention(){
        Req.Activity.Attention(activityId).done(function(res){
            if(res.success == true){
                //已关注
                if(res.data == true){
                    $('.detail-left-content-joinbtn button.attention').html('已收藏');
                }
                //未关注
                else{
                    $('.detail-left-content-joinbtn button.attention').html('收藏');
                }
            }
        });
    }
    function enterNameClick(){
        var $error = $('span.error-info');
        Req.User.GetLoginStatus().done(function(res){
            //已登录 TODO
            if(res.success == true){
                var data = Life.FormToJson($('form#enterNameForm'));
                data.activityId = activityId;
                console.log(data);
                if(data.name == '')
                    $error.html('报名人不能为空');
                else if(data.phone == '')
                    $error.html('联系方式不能为空');
                else if(data.amount == '' || data.amount <= 0 )
                    $error.html('报名人数不符合规则');
                else{
                    Req.Activity.AddMember(data).done(function(res){
                        if(res.success == true){
                            alert('报名成功！');
                        }else if(res.errorCode == '109'){
                            alert('您已经报名过了。');
                        }
                    })
                }
            }
            //未登录
            else{
                alert('请先登录再报名。')
            }
        })
    }
</script>

<%include common/footer.ejs%>
<%include common/end.ejs%>