<%include common/head.ejs%>
<%include common/header.ejs%>

<input type="hidden" id="pageType" value="<%=data.type%>">
<input type="hidden" id="pageKeyword" value="<%=data.reqData.keyword%>">
<input type="hidden" id="pageTagId" value="<%=data.reqData.condition.tagId%>">

<div ng-controller="activity" class="life-body">
    <div class="index-img-bg">
        <img src="/images/large_1.png" alt=""/>
        <div class="title">发现城市更多乐趣</div>
        <div class="title-small">现在就加入我们，一起成为城市客，一起开拓嘉兴城</div>
        <div class="search input-group input-group-lg">
            <input type="text" id="searchKey" class="form-control" placeholder="搜索活动关键词" <%if(data.type == 'search'){%>value="<%=data.keyWord%>"<%}%>
                   onkeydown="if(event.keyCode == 13){document.getElementById('searchBtn').click();return false;}">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" id="searchBtn" type="button" onclick="searchClick()">
                                        <span class="glyphicon glyphicon-search" style="padding-top: 2px"></span>
                                    </button>
                                </span>
        </div>
        <a href="/activity/discover">
            <div class="discover">探索更多</div>
        </a>
    </div>


    <div class="index-panel">
        <div class="life-content">
            <div class="title">现在热门的活动</div>
            <div class="row">
                <%data.list.forEach(function(each){%>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="/activity/detail/<%=each.activityId%>">
                        <div class="block">
                            <img src="<%=each.cover%>">
                            <div class="block-info-bg"></div>
                            <div class="block-info">
                                <h4><%=each.name%></h4>
                                <p>时间：<%=Life.TimeParse(each.startTime)%>~<%=Life.TimeParse(each.endTime, 'MM-dd hh:mm')%></p>
                                <p>地点：<%=each.location%></p>
                                <p>费用：<%if(each.fee == 0){%>免费<%}else{%><%=each.fee%>元<%}%></p>
                                <p>状态：<%if(each['activityStatus'] == 1){%>报名中<%}%><%if(each['activityStatus'] == 2){%>即将开始<%}%><%if(each['activityStatus'] == 3){%>进行中<%}%><%if(each['activityStatus'] == 4){%>已结束<%}%></p>
                            </div>
                        </div>
                    </a>
                </div>
                <%})%>
            </div>

            <a href="/activity/discover">
                <div class="more">
                    <p>
                        <button type="button" class="btn btn-default btn-lg btn-block">更多</button>
                    </p>
                </div>
            </a>
        </div>

    </div>

    <div class="index-panel index-panel-white index-panel-share">
        <div class="life-content">
            <div class="title">热门分享</div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="block">
                        <img src="/images/2.png">
                        <div class="block-info-bg"></div>
                        <div class="block-title">wertw</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="block"></div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="block"></div>
                </div>
            </div>

            <div class="more">
                <p>
                    <button type="button" class="btn btn-default btn-lg btn-block">更多</button>
                </p>
            </div>
        </div>
    </div>

    <div class="index-panel">
        <div class="life-content">
            <div class="title">我们的使命</div>
            <div class="learn-more">
                <div class="content">
                    <h1>挖掘嘉兴城更多乐趣，</h1>
                    <h1>让城市更具活力，</h1>
                    <h1>让嘉兴人生活更加快乐！</h1>
                    <br/>
                    <h1>人人都是城市客！</h1>
                </div>
            </div>
        </div>
    </div>

</div>

<script>

    var str = $('input#pageType').val();
    var hasMore = true;
    var reqData = {
        "pageNumber": 1,
        "pageSize": 15,
        "property": null,
        "keyword": null,
        "orderBy": 'dateCreated',
        "condition": {
        }
    };
    if(str == 'dateCreated'){
    }
    else if(str == 'recommended'){
        reqData.orderBy = str;
    }
    else if(str == 'sortTag'){
        reqData.condition.tagId = $('input#pageTagId').val()
    }
    else if(str == 'search'){
        reqData.keyword = $('input#pageKeyword').val()
    }

    function searchClick(){
        if($('#searchKey').val() !='')
            window.location.href='/activity/discover/search/' + $('#searchKey').val()
    }

    var $p = $('#contents');

    function loadMoreClick(){
//        if(hasMore == false)
//            return;
        reqData.pageNumber += 1;
        Req.Activity.GetActivities(reqData).done(function(res){
            if(res.success == true){
                var html = new EJS({url: '/tpls/activity-box.ejs'}).render({data : res.data})
                $p.append(html);
                if(res.data.pageNumber >= res.data.pageCount){
                    hasMore = false;
                    $('.activity-load-more-btn').html('没有更多了');
                }
            }
        })
    }


</script>

<%include common/footer.ejs%>
<%include common/end.ejs%>
