<%include common/head.ejs%>
<%include common/header.ejs%>

<div ng-controller="activity" class="life-body">
    <div class="activity-img-bg">
        <img src="/images/large_1.png" alt=""/>
    </div>
    <div class="activity-side" id="slide-panel">
        <div class="activity-side-panel">
            <!--热门标签-->
            <div class="activity-left">
                <div class="activity-panel-title">
                    热门标签
                </div>
                <div class="activity-left-each">
                    <!--<div class="activity-left-each-tag" ng-repeat="tag in hotTags" ng-click="lifeService.tagSearch(tag)" style="cursor: pointer">-->
                        <!--#{{tag['tagName']}}-->
                    <!--</div>-->
                    <%for(var i in hotTag){%>
                    <a href="/index/sort/<%=hotTag[i]['tagId']%>/<%=hotTag[i]['tagName']%>">
                        <div class="activity-left-each-tag" style="cursor: pointer">
                            #<%=hotTag[i]['tagName']%>
                        </div>
                    </a>
                    <%}%>
                </div>
                <div class="activity-left-each">
                    <h3>下载IOS版</h3>
                </div>
            </div>

            <div class="activity-right">
                <div class="activity-panel-title">
                    分类筛选
                </div>
                <div class="activity-right-each">
                    <div class="activity-search">
                        <div class="input-group input-group-sm">
                            <input type="text" id="searchKey" class="form-control" placeholder="">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" onclick="window.location.href='/index/search/' + $('#searchKey').val() ">Go!</button>
                                </span>
                        </div>
                    </div>
                </div>
                <div class="activity-right-each">
                    <h5>分类</h5>
                    <div class="life-tag-panel">
                        <%for(var i in tag){%>
                        <a href="/index/sort/<%=tag[i]['tagId']%>/<%=tag[i]['tagName']%>">
                            <div class="life-tag-each">
                                <button type="button" class="btn btn-default btn-xs"><%=tag[i]['tagName']%></button>
                            </div>
                        </a>
                        <%}%>
                        <div class="clear-fix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="activity-main-content">
        <div class="life-content">
            <%if(type == 'dateCreated'){%>
            <div class="activity-filter-btns" ng-if="pageCfg.type == 0">
                <a href="/index/dateCreated"><div class="activity-filter-button activity-filter-button-sel">按时间</div></a>
                <a href="/index/recommended"><div class="activity-filter-button">按推荐</div></a>
                <div class="clear-fix"></div>
            </div>
            <%}%>
            <%if(type == 'recommended'){%>
            <div class="activity-filter-btns" ng-if="pageCfg.type == 0">
                <a href="/index/dateCreated"><div class="activity-filter-button">按时间</div></a>
                <a href="/index/recommended"><div class="activity-filter-button activity-filter-button-sel">按推荐</div></a>
                <div class="clear-fix"></div>
            </div>
            <%}%>
            <%if(type == 'search'){%>
            <div class="activity-filter-btns" ng-if="pageCfg.type == 1">
                <div class="activity-filter-button activity-filter-button-sel">
                    当前搜索：<%=keyWord%>
                </div>
                <a href="/">
                    <div class="activity-filter-button-right">
                        清除搜索
                    </div>
                </a>
                <div class="clear-fix"></div>
            </div>
            <%}%>
            <%if(type == 'sortTag'){%>
            <div class="activity-filter-btns" ng-if="pageCfg.type == 2">
                <div class="activity-filter-button activity-filter-button-sel">
                    当前分类：<%=tagName%>
                </div>
                <a href="/">
                    <div class="activity-filter-button-right">
                        清除搜索
                    </div>
                </a>
                <div class="clear-fix"></div>
            </div>
            <%}%>

            <%for(var i in list){%>
            <div class="life-content-left">
                <div class="activity-each" ng-repeat="act in activityList" ui-sref="activityDetail.id({id : act.activityId})">
                    <%if(list[i]['recommended'] == true){%>
                    <div class="isRecommand">
                        <img src="/images/recommand.png">
                    </div>
                    <%}%>
                    <div class="activity-each-img">
                        <img src="/<%=list[i]['cover']%>">
                    </div>
                    <div class="activity-each-content">
                        <div class="activity-each-content-title">
                            <h3><%=list[i]['name']%></h3>
                        </div>
                        <div class="activity-each-content-line">
                            时间：<%=list[i]['startTime']%> ~ <%=list[i]['endTime']%>
                        </div>
                        <div class="activity-each-content-line">
                            地点：<%=list[i]['location']%>
                        </div>
                        <div class="activity-each-content-line">
                            费用：<%=list[i]['fee']%>
                        </div>
                        <div class="activity-each-content-line">
                            状态：<%=list[i]['activityStatus']%>
                        </div>
                    </div>
                </div>
                <div class="activity-load-more">
                    <div class="activity-load-more-btn" ng-click="loadMoreClick()">查看更多</div>
                </div>
            </div>
            <%}%>
            <div class="clear-fix"></div>
        </div>
    </div>
</div>

<%include common/footer.ejs%>
<%include common/end.ejs%>
