<%include common/head.ejs%>
<div style="width: 1000px; margin: auto">
    <h1><%= title %></h1>

    <div>所有接口以post形式传递，之后可能会以restful API重新定义一套接口</div>
    <div>所有的请求数据及响应数据不做任何改变，以文档为准。这里只做请求重定向</div>
    <div>nodejs调用方式参照modelproxy <a target="_blank" href="https://github.com/carlisliu/modelproxy">https://github.com/carlisliu/modelproxy</a></div>
    <div>其他终端调用方式：nodejs的host地址 + "/model/' +接口名称</div>
    <div>例: http:127.0.0.1:8808/model/Activity.GetHotTags</div>
    <div>
        <ul>
            <%for(var i in interfaces){%>
            <li style="display: block">
                <div class="row">
                    <div class="col-xs-12"><h3><%= interfaces[i].name%></h3></div>
                </div>
                <div class="row">
                    <div class="col-xs-2">接口名称：</div>
                    <div class="col-xs-4"><div><%=interfaces[i].id%></div></div>
                    <div class="col-xs-2">外部调用：</div>
                    <div class="col-xs-4">http:127.0.0.1:8808/model/<%=interfaces[i].id%></div>
                </div>
                <div class="row">
                    <div class="col-xs-2">Java后台路径定义：</div>
                    <div class="col-xs-8"><div><%=interfaces[i].urls.prep%></div></div>
                </div>
            </li>
            <%}%>
        </ul>
    </div>
</div>
<%include common/end.ejs%>