<%include common/head.ejs%>
<%include common/header.ejs%>

<div class="life-body">
    <div class="life-content">
        <div class="user-info">
            <div class="user-info-left">
                <div class="row">
                    <div class="col-xs-12"><a href="/users/info/show" <%if(data.type=='show'){%>class="selected"<%}%>>个人信息</a></div>
                </div>
                <div class="row">
                    <div class="col-xs-12"><a href="/users/info/edit" <%if(data.type=='edit'){%>class="selected"<%}%>>修改个人信息</a></div>
                </div>
                <div class="row">
                    <div class="col-xs-12"><a href="/users/info/editIcon" <%if(data.type=='editIcon'){%>class="selected"<%}%>>修改头像</a></div>
                </div>
                <div class="row">
                    <div class="col-xs-12"><a href="/users/info/editPassword" <%if(data.type=='editPassword'){%>class="selected"<%}%>>修改密码</a></div>
                </div>
            </div>
            <%if(data.type=='show'){%>
            <div class="user-info-right">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-2 control-label user-info-align">头像：</label>
                        <div class="col-xs-10" style="padding-top: 10px">
                            <!--<input type="file" nv-file-select uploader="uploader" id="addImg" accept=".png,.jpg,.jpeg,.bmp" ng-show="false">-->
                            <div class="user-info-head">
                                <%if(data.icon != null){%>
                                <img ng-if="userInfo.icon != null && userInfo.icon != ''" src="<%=data.icon%>">
                                <%}%>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label user-info-align">昵称：</label>
                        <div class="col-xs-10">
                            <label class="control-label"><%=data.userName%></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label user-info-align">邮箱：</label>
                        <div class="col-xs-10">
                            <label class="control-label"><%=data.email%></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label user-info-align">性别：</label>
                        <div class="col-xs-10">
                            <%if(data.sex == 0){%>
                            <label class="control-label">保密</label>
                            <%}%>
                            <%if(data.sex == 1){%>
                            <label class="control-label">男</label>
                            <%}%>
                            <%if(data.sex == 2){%>
                            <label class="control-label">女</label>
                            <%}%>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label user-info-align">省：</label>
                        <div class="col-xs-10">
                            <label class="control-label"><%=data.province%></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label user-info-align">城市：</label>
                        <div class="col-xs-10">
                            <label class="control-label"><%=data.city%></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label user-info-align">微信号：</label>
                        <div class="col-xs-10">
                            <label class="control-label"><%=data.wechat%></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label user-info-align">QQ：</label>
                        <div class="col-xs-10">
                            <label class="control-label"><%=data.qq%></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label user-info-align">电话：</label>
                        <div class="col-xs-10">
                            <label class="control-label"><%=data.phone%></label>
                        </div>
                    </div>
                </form>
            </div>
            <%}%>

            <%if(data.type=='edit'){%>
            <div class="user-info-right">
                <form class="form-horizontal" id="editInfo">
                    <div class="form-group">
                        <label class="col-xs-2 control-label user-info-align">昵称：</label>
                        <div class="col-xs-10">
                            <input class="form-control" value="<%=data.userName%>" name="userName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label user-info-align">邮箱：</label>
                        <div class="col-xs-10">
                            <label class="control-label"><%=data.email%></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label user-info-align">性别：</label>
                        <div class="col-xs-10">
                            <select class="form-control" name="sex">
                                <option <%if(data.sex == 0){%>selected<%}%> value="0">保密</option>
                                <option <%if(data.sex == 1){%>selected<%}%> value="1">男</option>
                                <option <%if(data.sex == 2){%>selected<%}%> value="2">女</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label user-info-align">省：</label>
                        <div class="col-xs-10">
                            <input class="form-control" value="<%=data.province%>" name="province">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label user-info-align">城市：</label>
                        <div class="col-xs-10">
                            <input class="form-control" value="<%=data.city%>" name="city">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label user-info-align">微信号：</label>
                        <div class="col-xs-10">
                            <input class="form-control" value="<%=data.wechat%>" name="wechat">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label user-info-align">QQ：</label>
                        <div class="col-xs-10">
                            <input class="form-control" value="<%=data.qq%>" name="qq">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label user-info-align">电话：</label>
                        <div class="col-xs-10">
                            <input class="form-control" value="<%=data.phone%>" name="phone">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12 control-label user-info-align">
                            <button type="button" style="float: right" class="btn btn-success" id="saveInfoBtn">保存</button>
                            <label class="control-label error"></label>
                        </label>
                    </div>
                </form>
            </div>
            <%}%>

            <%if(data.type=='editIcon'){%>
            <div class="user-info-right">
                <div class="row">
                    <div class="col-xs-12 user-info-edit-icon-title">当前头像</div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="user-info-head">
                            <%if(data.icon != null){%>
                            <img src="<%=data.icon%>">
                            <%}%>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 user-info-edit-icon-title">制作头像</div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="user-info-edit-icon" id="editIconBox">
                            <div class="user-info-edit-icon-img" id="addDiv">
                                点击上传头像
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="user-info-edit-icon-small" id="editIconBoxSmall">
                        </div>
                        <div class="user-info-edit-icon-btn" id="editIconSave" style="display: none">
                            <button type="button" class="btn btn-success btn-xs" id="editIconSaveBtn">保存</button>
                        </div>
                    </div>
                </div>
                <div style="display: none">
                    <form method="post" target="if" enctype="multipart/form-data" action="<%=uploadUrl%>">
                        <input type="file" name="file" id="file"/>
                        <input type="SUBMIT" value="上传" id="fileSubmit"/>
                    </form>
                    <IFRAME id="if" name="if" src="about:blank" frameborder='1'></IFRAME>
                </div>
            </div>
            <%}%>

            <%if(data.type=='editPassword'){%>
            <div class="user-info-right">
                <form class="form-horizontal" id="password">
                    <div class="form-group">
                        <label class="col-xs-2 control-label user-info-align">原密码：</label>
                        <div class="col-xs-10">
                            <input class="form-control" name="oldPassword" type="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label user-info-align">新密码：</label>
                        <div class="col-xs-10">
                            <input class="form-control" name="newPassword" type="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label user-info-align">确认密码：</label>
                        <div class="col-xs-10">
                            <input class="form-control" name="newPassword2" type="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 control-label user-info-align">
                            <button type="button" style="float: right" class="btn btn-success" id="savePasswordBtn">保存</button>
                            <label class="control-label error"></label>
                        </label>
                    </div>
                </form>
            </div>
            <%}%>

            <div class="clear-fix"></div>
        </div>

    </div>
</div>
<script type="text/javascript">

    //截图坐标
    var x1,y1,x2,y2 = null;
    var scale = null;
    var imgUrl = null;

    //图片上传回调函数
    function upLoadCallback(res){
        console.log('uploadfile', res)
        //图片上传成功
        if(res.success == true){
            imgUrl = res.data;
            $('#editIconSave').show();
            //显示上传的图片
            $('#editIconBox').empty().append('<img id="imageSel" src="' + res.data +'">');
            $('#editIconBoxSmall').empty().append('<img id="imageSelSmall" src="' + res.data +'">');
            var $smallIcon = $('img#imageSelSmall');
            var $bigIcon = $('img#imageSel');
            var scale = null;
            $('img#imageSel').imgAreaSelect({
                aspectRatio: '1:1',
                x1: 0, y1: 0, x2: 100, y2: 100,
                handles: true,
                persistent : true,
                onInit : function(img, selection){
                    var w = 80 / selection.width * $bigIcon.width();
                    var h = 80 / selection.width * $bigIcon.height();
                    console.log($smallIcon.width());
                    scale = $smallIcon.width() / $('#editIconBox').width();
                    $smallIcon.css({
                        width : w,
                        height : h,
                        'margin-left' : -selection.x1 * 80 / selection.width,
                        'margin-top' : -selection.y1 * 80 / selection.height
                    });
                    x1 = parseInt(selection.x1 * scale);
                    y1 = parseInt(selection.y1 * scale);
                    x2 = parseInt(selection.x2 * scale);
                    y2 = parseInt(selection.y2 * scale);
                },
                onSelectChange : function(img, selection){
                    var w = 80 / selection.width * $bigIcon.width();
                    var h = 80 / selection.width * $bigIcon.height();
                    console.log($smallIcon.width());
                    $smallIcon.css({
                        width : w,
                        height : h,
                        'margin-left' : -selection.x1 * 80 / selection.width,
                        'margin-top' : -selection.y1 * 80 / selection.height
                    });
                    x1 = parseInt(selection.x1 * scale);
                    y1 = parseInt(selection.y1 * scale);
                    x2 = parseInt(selection.x2 * scale);
                    y2 = parseInt(selection.y2 * scale);
                }
            });
        }
        //图片上传失败
        else{
        }
    }
    //点击添加图片
    $('#addDiv').on('click', function(){
        $('input#file').click();
    });
    //修改上传图片路径时事件
    $('input#file').on('change', function(){
        console.log('change');
        $('input#fileSubmit').click();
    });
    $('button#editIconSaveBtn').on('click', function(){
        console.info(x1, y1, x2, y2);
        Req.User.ImageCut({
            sourceImagePath : imgUrl,
            x1 : x1,
            y1 : y1,
            x2 : x2,
            y2 : y2
        }).done(function(res){
            if(res.success == true){
                imgUrl = res.data;
                Req.User.EditInfo({icon : imgUrl}).done(function(res){
                    if(res.success == true){
                        window.location = '/users/info/editIcon';
                    }
                    else{
                    }
                });
            }
        })
    });


    //修改密码保存
    $('button#savePasswordBtn').on('click', function savePassword(){
        var $error = $('form#password').find('label.error');
        $error.empty();

        var obj = Life.FormToJson($('form#password'));
        if(obj.newPassword != obj.newPassword2){
            $error.append('两次密码不一致');
            return;
        }
        if(obj.newPassword.length < 6){
            $error.append('密码过于简单');
            return;
        }
        obj.oldPassword = Life.Md5Encrypt(obj.oldPassword);
        obj.newPassword = Life.Md5Encrypt(obj.newPassword);
        obj.newPassword2 = Life.Md5Encrypt(obj.newPassword2);
        Req.User.ModifyPassword(obj).done(function(res){
            if(res.success == true){
                $error.append('修改密码成功');
            }
            else{
                $error.append('修改密码失败');
            }
        })
    })

    //个人资料修改保存
    $('button#saveInfoBtn').on('click', function(){
        var $btn = $(this)
        $btn.attr('disabled', true);
        var $error = $('form#editInfo').find('label.error');
        $error.empty();
        var obj = Life.FormToJson($('form#editInfo'));
        Req.User.EditInfo(obj).done(function(res){
            if(res.success == true){
                $error.append('修改成功');
            }
            else{
                $error.append('修改失败');
            }
            $btn.attr('disabled', false);
        }, function(){ $btn.attr('disabled', false); });
    })


//    function uploadImage() {
//        //判断是否有选择上传文件
//        var imgPath = $("#uploadFile").val();
//        if (imgPath == "") {
//            alert("请选择上传图片！");
//            return;
//        }
//        //判断上传文件的后缀名
//        var strExtension = imgPath.substr(imgPath.lastIndexOf('.') + 1);
//        if (strExtension != 'jpg' && strExtension != 'gif'
//                && strExtension != 'png' && strExtension != 'bmp') {
//            alert("请选择图片文件");
//            return;
//        }
//        $.ajax({
//            type: "POST",
//            url: "http://127.0.0.1:8080/life/common/upload",
//            data: { imgPath: $("#uploadFile").val() },
//            cache: false,
//            success: function(data) {
//                alert("上传成功");
//                $("#imgDiv").empty();
//                $("#imgDiv").html(data);
//                $("#imgDiv").show();
//            },
//            error: function(XMLHttpRequest, textStatus, errorThrown) {
//                alert("上传失败，请检查网络后重试");
//            }
//        });
//    }
</script>


<%include common/end.ejs%>